- var menu = [{name : 'главная', url : 'index.html', sub: null}, {name : 'статьи', url : '#0', sub: null}, {name : 'работа', url : 'job.html', sub: null}, {name : 'объявления', url : 'ads.html', sub: null}, {name : 'специалисты', url : 'masters.html', sub: null}, {name : 'лаборатории', url : 'labs.html', sub: null}, {name : 'еще', url : '#0', sub: [{name : 'галерея', url : 'gallery.html'}, {name : 'группы', url : 'group.html'}]}]

nav.navbar.navbar-default.menu-main.js-main-menu
  .container
    .row
      .navbar-header.menu-main__navbar-header
        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#menu-main' aria-expanded='false')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #menu-main.collapse.navbar-collapse
        ul.nav.navbar-nav.menu-main__list
          - var length = menu.length
          - var last = 1
          each item in menu
            if ( !item.sub )
              if length == last
                li.menu-main__item
                  a.menu-main__link(href=item.url)= item.name
              else
                li.menu-main__item
                  a.menu-main__link(href=item.url)= item.name
                li.menu-main__item-divider-vertical
            else
              if length == last
                li.menu-main__item.menu-main__item-dropdown.dropdown
                  a.menu-main__link.menu-main__link-dropdown(href=item.url data-toggle='dropdown')= item.name
                  ul.menu-main__list-dropdown.dropdown-menu
                    each sub in item.sub
                      li
                        a.menu-main__link.menu-main__link-sub(href=sub.url)= sub.name
              else
                li.menu-main__item.menu-main__item-dropdown.dropdown
                  a.menu-main__link.menu-main__link-dropdown(href=item.url data-toggle='dropdown')= item.name
                  ul.menu-main__list-dropdown.dropdown-menu
                    each sub in item.sub
                      li
                        a.menu-main__link.menu-main__link-sub(href=sub.url)= sub.name
                li.menu-main__item-divider-vertical
            - last++